<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{167,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,68}}</string>
                <key>sourceSize</key>
                <string>{167,68}</string>
            </dict>
            <key>rank_calendar.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{38,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>rank_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>rank_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,53},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>rank_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{127,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{127,84}}</string>
                <key>sourceSize</key>
                <string>{147,84}</string>
            </dict>
            <key>rank_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,53},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ring_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>ring_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>ring_ruby.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{74,69}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>ring_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rankDialog.png</string>
            <key>size</key>
            <string>{717,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f17dbd8713b2ffb86ceeb812be21005a:74693cef8e792b759df4f40d219b6e1c:4bc7479f3865722c94ce186469642539$</string>
            <key>textureFileName</key>
            <string>rankDialog.png</string>
        </dict>
    </dict>
</plist>
