# 排除临时文件
*.swp

# 排除OS X的文件夹显示属性目录
.DS_Store

# 排除cocosbuilder生成的文件描述
fileLookup.plist

# 排除xcode3、4的用户自定义设置文件
*.model
*.model1v3
*.model2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata

# 排除动态库和临时编译出来的文件
*.a
*.d
*.dll
*.dylib
*.exe
*.o
*.obj
*.so
*/.git/*
*.deployables
*.git
