<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,334}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{536,334}}</string>
                <key>sourceSize</key>
                <string>{576,384}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{139,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{139,166}}</string>
                <key>sourceSize</key>
                <string>{149,166}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,170},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resultBoard.png</string>
            <key>size</key>
            <string>{681,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ddc0bc0b0d59ed2da8f162f541b605e:a4c936efc5d5b4235901a18e36cb50f4:179928ffefcb121682dc8c3cde3064dd$</string>
            <key>textureFileName</key>
            <string>resultBoard.png</string>
        </dict>
    </dict>
</plist>
