<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,631},{22,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>star_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,284},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>star_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,625},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>useirnfo_forbidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,657},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>userinfo_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,486},{137,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,71}}</string>
                <key>sourceSize</key>
                <string>{137,71}</string>
            </dict>
            <key>userinfo_btn_extend.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,559},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>userinfo_btn_levelup.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,559},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>userinfo_btn_music_volume.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,625},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>userinfo_btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,486},{137,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,71}}</string>
                <key>sourceSize</key>
                <string>{137,71}</string>
            </dict>
            <key>userinfo_btn_sound_volume.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,631},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>userinfo_detail_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,454}}</string>
                <key>sourceSize</key>
                <string>{482,454}</string>
            </dict>
            <key>userinfo_dise1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{280,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,45}}</string>
                <key>sourceSize</key>
                <string>{280,45}</string>
            </dict>
            <key>userinfo_dise2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{280,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,45}}</string>
                <key>sourceSize</key>
                <string>{280,45}</string>
            </dict>
            <key>userinfo_score_dise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{290,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,105}}</string>
                <key>sourceSize</key>
                <string>{290,105}</string>
            </dict>
            <key>userinfo_tab_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,640},{136,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,39}}</string>
                <key>sourceSize</key>
                <string>{136,39}</string>
            </dict>
            <key>userinfo_tab_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{136,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,39}}</string>
                <key>sourceSize</key>
                <string>{136,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userinfo.png</string>
            <key>size</key>
            <string>{506,685}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16d9a1bc89ffa250904ccaf8831573e1:22b963ee6fb0946f738d0dc31f36fcd2:2acc6c349b950709dcf0edb34faac4dd$</string>
            <key>textureFileName</key>
            <string>userinfo.png</string>
        </dict>
    </dict>
</plist>
