<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>share_section</key>
	<dict>
		<key>high_score_share</key>
		<string>I get %lld score in Burst Balloon! Can you rely my CHALLENGE!!</string>
		<key>high_score_shares</key>
		<string>I get %lld scores in Burst Balloon! Can you rely my CHALLENGE!!</string>
	</dict>
	<key>handbook_section</key>
	<dict>
		<key>normal_balloon_name</key>
		<string>Normal Balloon</string>
		<key>normal_balloon_description</key>
		<string>I&apos;m normal one, but we are the best! Every score is mine.</string>
		<key>boom_name</key>
		<string>Boom Balloon</string>
		<key>boom_description</key>
		<string>Be careful, your score will cry for me. If you click me, your score will be half off.</string>
		<key>time_name</key>
		<string>Time Balloon</string>
		<key>time_description</key>
		<string>Hey guy! You just got 3 seconds more.</string>
		<key>pump_name</key>
		<string>Pump Balloon</string>
		<key>pump_descritpion</key>
		<string>So nice! Every press will increase normal balloon&apos;s score with 1 point in the screen.</string>
		<key>multi_name</key>
		<string>Double Balloon</string>
		<key>multi_description</key>
		<string>Every balloon will be double, sometime it made big trouble</string>
		<key>reverse_name</key>
		<string>Reverse Balloon</string>
		<key>reverse_description</key>
		<string>You know, we don&apos;t want meet you neither</string>
		<key>giant_name</key>
		<string>Giant Balloon</string>
		<key>giant_description</key>
		<string>You&apos;ll love the way you press... BOOM! HURRY UP!</string>
		<key>frozen_name</key>
		<string>Frozen Balloon</string>
		<key>frozen_description</key>
		<string>I love the ICE, but sometimes we will confuse you...</string>
		<key>endless_name</key>
		<string>Endless Mode</string>
		<key>endless_description</key>
		<string>Go go go!!!</string>
	</dict>
	<key>notification_section</key>
	<dict>
		<key>localNotificationText</key>
		<string>Hey! Balloons is stuffed in your DEVICE, help me to release them, dada.....</string>
		<key>localNotificationName</key>
		<string>wardrums.pokeballoon</string>
	</dict>
	<key>itemPreBuy_section</key>
	<dict>
		<key>pumpTitle</key>
		<string>Super Pump</string>
		<key>pumpDesc</key>
		<string>Pump item will increase your pump effect add one per press</string>
		<key>timeTitle</key>
		<string>More Time</string>
		<key>timeDesc</key>
		<string>Total time will added 5 seconds</string>
		<key>timeAddTitle</key>
		<string>Time Burst</string>
		<key>timeAddDesc</key>
		<string>Every time balloon will increase 2 more seconds when press</string>
		<key>giantTitle</key>
		<string>Giant Ex</string>
		<key>giantDesc</key>
		<string>Every press will add 1 score directly</string>
		<key>safeTitle</key>
		<string>Safe Guard</string>
		<key>safeDesc</key>
		<string>Boom will safe your score</string>
	</dict>
	<key>scoreDetailOptions_section</key>
	<dict>
		<key>colorRed</key>
		<string>Red</string>
		<key>colorOrange</key>
		<string>Orange</string>
		<key>colorBlack</key>
		<string>Black</string>
		<key>colorPink</key>
		<string>Pink</string>
		<key>colorBrown</key>
		<string>Brown</string>
		<key>colorYellow</key>
		<string>Yellow</string>
		<key>colorBlue</key>
		<string>Blue</string>
		<key>colorGreen</key>
		<string>Green</string>
		<key>normalPositive</key>
		<string>Positive</string>
		<key>normalNegative</key>
		<string>Negative</string>
		<key>normalZero</key>
		<string>Zero</string>
		<key>itemPump</key>
		<string>Pump</string>
		<key>itemBomb</key>
		<string>Bomb</string>
		<key>itemGiant</key>
		<string>Giant</string>
		<key>itemFrozen</key>
		<string>Frozen</string>
		<key>itemMulti</key>
		<string>Multiple</string>
		<key>itemTime</key>
		<string>Time</string>
		<key>itemReverse</key>
		<string>Reverse</string>
	</dict>
	<key>archivement_section</key>
	<dict>
		<key>lock</key>
		<string>Lock</string>
	</dict>
</dict>
</plist>
