<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>share_section</key>
	<dict>
		<key>high_score_share</key>
		<string>I get %lu score in Poke Balloon War！Can you rely my CHALLENGE!!</string>
		<key>high_score_shares</key>
		<string>I get %lu scores in Poke Balloon War！Can you rely my CHALLENGE!!</string>
	</dict>
</dict>
</plist>
