<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>balloon_effect_frozen_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{163,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,220}}</string>
			<key>sourceSize</key>
			<string>{163,220}</string>
		</dict>
		<key>balloon_effect_frozen_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,2},{105,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,204}}</string>
			<key>sourceSize</key>
			<string>{105,204}</string>
		</dict>
		<key>balloon_effect_frozen_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,2},{192,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,200}}</string>
			<key>sourceSize</key>
			<string>{192,200}</string>
		</dict>
		<key>balloon_effect_frozen_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,2},{163,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,190}}</string>
			<key>sourceSize</key>
			<string>{163,190}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>balloon_effect_frozen.png</string>
		<key>size</key>
		<string>{633,224}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f70356e2643c520bb0561f08aae5a950:b0081e5326133c7cda14e9a352f0a9e8:179928ffefcb121682dc8c3cde3064dd$</string>
		<key>textureFileName</key>
		<string>balloon_effect_frozen.png</string>
	</dict>
</dict>
</plist>
