<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{163,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,215}}</string>
                <key>sourceSize</key>
                <string>{163,215}</string>
            </dict>
            <key>balloon_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,219},{162,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,215}}</string>
                <key>sourceSize</key>
                <string>{162,215}</string>
            </dict>
            <key>balloon_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,219},{163,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,215}}</string>
                <key>sourceSize</key>
                <string>{163,215}</string>
            </dict>
            <key>balloon_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{163,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,215}}</string>
                <key>sourceSize</key>
                <string>{163,215}</string>
            </dict>
            <key>balloon_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,219},{163,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,215}}</string>
                <key>sourceSize</key>
                <string>{163,215}</string>
            </dict>
            <key>balloon_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{163,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,215}}</string>
                <key>sourceSize</key>
                <string>{163,215}</string>
            </dict>
            <key>balloon_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{163,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,215}}</string>
                <key>sourceSize</key>
                <string>{163,215}</string>
            </dict>
            <key>balloon_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,215}}</string>
                <key>sourceSize</key>
                <string>{163,215}</string>
            </dict>
            <key>balloon_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,390},{105,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,200}}</string>
                <key>sourceSize</key>
                <string>{105,200}</string>
            </dict>
            <key>balloon_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,189},{104,200}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{104,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>balloon_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,436},{104,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,200}}</string>
                <key>sourceSize</key>
                <string>{104,200}</string>
            </dict>
            <key>balloon_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,436},{104,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,200}}</string>
                <key>sourceSize</key>
                <string>{104,200}</string>
            </dict>
            <key>balloon_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,390},{105,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,200}}</string>
                <key>sourceSize</key>
                <string>{105,200}</string>
            </dict>
            <key>balloon_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,436},{104,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,200}}</string>
                <key>sourceSize</key>
                <string>{104,200}</string>
            </dict>
            <key>balloon_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{104,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,200}}</string>
                <key>sourceSize</key>
                <string>{104,200}</string>
            </dict>
            <key>balloon_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,413},{105,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,200}}</string>
                <key>sourceSize</key>
                <string>{105,200}</string>
            </dict>
            <key>balloon_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,196},{192,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,167}}</string>
                <key>sourceSize</key>
                <string>{192,167}</string>
            </dict>
            <key>balloon_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,196},{192,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,166}}</string>
                <key>sourceSize</key>
                <string>{192,166}</string>
            </dict>
            <key>balloon_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{192,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,167}}</string>
                <key>sourceSize</key>
                <string>{192,167}</string>
            </dict>
            <key>balloon_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,2},{192,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,166}}</string>
                <key>sourceSize</key>
                <string>{192,166}</string>
            </dict>
            <key>balloon_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,196},{192,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,166}}</string>
                <key>sourceSize</key>
                <string>{192,166}</string>
            </dict>
            <key>balloon_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2},{192,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,166}}</string>
                <key>sourceSize</key>
                <string>{192,166}</string>
            </dict>
            <key>balloon_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,219},{192,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,167}}</string>
                <key>sourceSize</key>
                <string>{192,167}</string>
            </dict>
            <key>balloon_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{192,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,166}}</string>
                <key>sourceSize</key>
                <string>{192,166}</string>
            </dict>
            <key>balloon_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,190},{163,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,186}</string>
            </dict>
            <key>balloon_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{163,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,186}</string>
            </dict>
            <key>balloon_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,190},{163,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,186}</string>
            </dict>
            <key>balloon_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,2},{163,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,186}</string>
            </dict>
            <key>balloon_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,378},{162,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,186}}</string>
                <key>sourceSize</key>
                <string>{162,186}</string>
            </dict>
            <key>balloon_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,189},{162,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,185}}</string>
                <key>sourceSize</key>
                <string>{162,185}</string>
            </dict>
            <key>balloon_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,2},{162,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,185}}</string>
                <key>sourceSize</key>
                <string>{162,185}</string>
            </dict>
            <key>balloon_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,378},{162,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,185}}</string>
                <key>sourceSize</key>
                <string>{162,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>balloon.png</string>
            <key>size</key>
            <string>{1955,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efb6c911a985900512ab190e377d33a2$</string>
            <key>textureFileName</key>
            <string>balloon.png</string>
        </dict>
    </dict>
</plist>
