<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{559,831}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,831}}</string>
                <key>sourceSize</key>
                <string>{559,831}</string>
            </dict>
            <key>balloon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{83,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commonDialog.png</string>
            <key>size</key>
            <string>{563,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f8d649c51d01dfae5d4c691e8404e0c:cdac8999c2b949a29cf1066cf739f8db:d9904c368c7e3e659a56e954c1a68e77$</string>
            <key>textureFileName</key>
            <string>commonDialog.png</string>
        </dict>
    </dict>
</plist>
