<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>pump</string>
			<key>iconSpriteName</key>
			<string>item_pump.png</string>
			<key>type</key>
			<string>0</string>
			<key>cost</key>
			<string>100</string>
		</dict>
		<dict>
			<key>name</key>
			<string>time</string>
			<key>iconSpriteName</key>
			<string>item_time.png</string>
			<key>type</key>
			<string>1</string>
			<key>cost</key>
			<string>200</string>
		</dict>
		<dict>
			<key>name</key>
			<string>timeAdd</string>
			<key>iconSpriteName</key>
			<string>item_time.png</string>
			<key>type</key>
			<string>2</string>
			<key>cost</key>
			<string>300</string>
		</dict>
		<dict>
			<key>name</key>
			<string>giant</string>
			<key>iconSpriteName</key>
			<string>item_reverse_ex.png</string>
			<key>type</key>
			<string>3</string>
			<key>cost</key>
			<string>400</string>
		</dict>
	</array>
</dict>
</plist>
