<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abilityArray</key>
	<array>
		<dict>
			<key>nID</key>
			<string>1</string>
			<key>descArray</key>
			<array>
				<dict>
					<key>nLvl</key>
					<string>1</string>
					<key>nCost</key>
					<string>3000</string>
					<key>strTitle</key>
					<string>Time Slash!</string>
					<key>strDescription</key>
					<string>Add 6 seconds in 5% when you poke a time balloon</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>2</string>
					<key>nCost</key>
					<string>4000</string>
					<key>strTitle</key>
					<string>Time Slash!</string>
					<key>strDescription</key>
					<string>Add 6 seconds in 10% when you poke a time balloon</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>3</string>
					<key>nCost</key>
					<string>50000</string>
					<key>strTitle</key>
					<string>Time Slash!</string>
					<key>strDescription</key>
					<string>Add 6 seconds in 15% when you poke a time balloon</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nID</key>
			<string>2</string>
			<key>descArray</key>
			<array>
				<dict>
					<key>nLvl</key>
					<string>1</string>
					<key>nCost</key>
					<string>1200</string>
					<key>strTitle</key>
					<string>Score Range</string>
					<key>strDescription</key>
					<string>Balloon score range from -3 to +4</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>2</string>
					<key>nCost</key>
					<string>4800</string>
					<key>strTitle</key>
					<string>Score Range EX</string>
					<key>strDescription</key>
					<string>Balloon score range from -3 to +5</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>3</string>
					<key>nCost</key>
					<string>14400</string>
					<key>strTitle</key>
					<string>Score Range GX</string>
					<key>strDescription</key>
					<string>Balloon score range from -3 to +6</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nID</key>
			<string>3</string>
			<key>descArray</key>
			<array>
				<dict>
					<key>nLvl</key>
					<string>1</string>
					<key>nCost</key>
					<string>500</string>
					<key>strTitle</key>
					<string>Bomb beginner</string>
					<key>strDescription</key>
					<string>Protect score from Boom in 10%.</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>2</string>
					<key>nCost</key>
					<string>2000</string>
					<key>strTitle</key>
					<string>Bomb senor</string>
					<key>strDescription</key>
					<string>Protect score from Boom in 20%.</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>3</string>
					<key>nCost</key>
					<string>6000</string>
					<key>strTitle</key>
					<string>Bomb experts</string>
					<key>strDescription</key>
					<string>Protect score from Boom in 30%.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nID</key>
			<string>4</string>
			<key>descArray</key>
			<array>
				<dict>
					<key>nLvl</key>
					<string>1</string>
					<key>nCost</key>
					<string>800</string>
					<key>strTitle</key>
					<string>Pump Man</string>
					<key>strDescription</key>
					<string>Increase pump clicks 1</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>2</string>
					<key>nCost</key>
					<string>3200</string>
					<key>strTitle</key>
					<string>Pump Father</string>
					<key>strDescription</key>
					<string>Increase pump clicks 3</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>3</string>
					<key>nCost</key>
					<string>9600</string>
					<key>strTitle</key>
					<string>Shaking Man</string>
					<key>strDescription</key>
					<string>Increase pump clicks 5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nID</key>
			<string>5</string>
			<key>descArray</key>
			<array>
				<dict>
					<key>nLvl</key>
					<string>1</string>
					<key>nCost</key>
					<string>1500</string>
					<key>strTitle</key>
					<string>Triple Mind</string>
					<key>strDescription</key>
					<string>×2 will instead of ×3 in 10%</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>2</string>
					<key>nCost</key>
					<string>6000</string>
					<key>strTitle</key>
					<string>Fourfold Mind</string>
					<key>strDescription</key>
					<string>×2 will instead of ×4 in 10%</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>3</string>
					<key>nCost</key>
					<string>18000</string>
					<key>strTitle</key>
					<string>Fivefold Mind</string>
					<key>strDescription</key>
					<string>×2 will instead of ×5 in 10%</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>nID</key>
			<string>6</string>
			<key>descArray</key>
			<array>
				<dict>
					<key>nLvl</key>
					<string>1</string>
					<key>nCost</key>
					<string>700</string>
					<key>strTitle</key>
					<string>Giant Package</string>
					<key>strDescription</key>
					<string>Get double scores at 50% chance when a Giant Balloon was explosiving</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>2</string>
					<key>nCost</key>
					<string>2800</string>
					<key>strTitle</key>
					<string>Gaint Chest</string>
					<key>strDescription</key>
					<string>Get triple scores at 50% chance when a Giant Balloon was explosiving</string>
				</dict>
				<dict>
					<key>nLvl</key>
					<string>3</string>
					<key>nCost</key>
					<string>8400</string>
					<key>strTitle</key>
					<string>Giant Golden Mine</string>
					<key>strDescription</key>
					<string>Get fourfold scores at 50% chance when a Giant Balloon was explosiving</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>introItems</key>
	<array>
		<dict>
			<key>name</key>
			<string>normal_balloon_name</string>
			<key>description</key>
			<string>normal_balloon_description</string>
			<key>displayType</key>
			<string>2</string>
			<key>bmfValue</key>
			<string>+3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>boom_name</string>
			<key>description</key>
			<string>boom_description</string>
			<key>displayType</key>
			<string>1</string>
			<key>frameName</key>
			<string>item_boom.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>time_name</string>
			<key>description</key>
			<string>time_description</string>
			<key>displayType</key>
			<string>1</string>
			<key>frameName</key>
			<string>item_time.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>pump_name</string>
			<key>description</key>
			<string>pump_descritpion</string>
			<key>unlock</key>
			<string>pump_unlock_description</string>
			<key>displayType</key>
			<string>1</string>
			<key>frameName</key>
			<string>item_pump.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>multi_name</string>
			<key>description</key>
			<string>multi_description</string>
			<key>unlock</key>
			<string>multi_unlock_description</string>
			<key>displayType</key>
			<string>2</string>
			<key>bmfValue</key>
			<string>×2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>reverse_name</string>
			<key>description</key>
			<string>reverse_description</string>
			<key>unlock</key>
			<string>reverse_unlock_description</string>
			<key>displayType</key>
			<string>1</string>
			<key>frameName</key>
			<string>item_reverse.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>giant_name</string>
			<key>description</key>
			<string>giant_description</string>
			<key>unlock</key>
			<string>giant_unlock_description</string>
			<key>displayType</key>
			<string>2</string>
			<key>bmfValue</key>
			<string>0/3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>frozen_name</string>
			<key>description</key>
			<string>frozen_description</string>
			<key>unlock</key>
			<string>frozen_unlock_description</string>
			<key>displayType</key>
			<string>1</string>
			<key>frameName</key>
			<string>item_frozen.png</string>
		</dict>
	</array>
	<key>extendItems</key>
	<array>
		<dict>
			<key>name</key>
			<string>pump</string>
			<key>iconSpriteName</key>
			<string>prepare_item_pump_potion.png</string>
			<key>type</key>
			<string>0</string>
			<key>cost</key>
			<string>100</string>
		</dict>
		<dict>
			<key>name</key>
			<string>time</string>
			<key>iconSpriteName</key>
			<string>prepare_item_time_premore.png</string>
			<key>type</key>
			<string>1</string>
			<key>cost</key>
			<string>100</string>
		</dict>
		<dict>
			<key>name</key>
			<string>timeAdd</string>
			<key>iconSpriteName</key>
			<string>prepare_item_time_more.png</string>
			<key>type</key>
			<string>2</string>
			<key>cost</key>
			<string>200</string>
		</dict>
		<dict>
			<key>name</key>
			<string>giant</string>
			<key>iconSpriteName</key>
			<string>prepare_item_giant_potion.png</string>
			<key>type</key>
			<string>3</string>
			<key>cost</key>
			<string>10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>safe</string>
			<key>iconSpriteName</key>
			<string>prepare_item_bomb_guard.png</string>
			<key>type</key>
			<string>4</string>
			<key>cost</key>
			<string>200</string>
		</dict>
	</array>
	<key>resultDetailData</key>
	<dict>
		<key>normal</key>
		<array>
			<string>normalPositive</string>
			<string>normalNegative</string>
			<string>normalZero</string>
		</array>
		<key>color</key>
		<array>
			<string>colorGreen</string>
			<string>colorBlack</string>
			<string>colorOrange</string>
			<string>colorRed</string>
			<string>colorBlue</string>
			<string>colorYellow</string>
			<string>colorBrown</string>
			<string>colorPink</string>
		</array>
		<key>item</key>
		<array>
			<string>itemBomb</string>
			<string>itemTime</string>
			<string>itemPump</string>
			<string>itemMulti</string>
			<string>itemReverse</string>
			<string>itemGiant</string>
			<string>itemFrozen</string>
		</array>
	</dict>
</dict>
</plist>
