<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>normal_balloon_name</string>
			<key>description</key>
			<string>normal_balloon_description</string>
			<key>displayType</key>
			<string>2</string>
			<key>bmfValue</key>
			<string>+3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>boom_name</string>
			<key>description</key>
			<string>boom_description</string>
			<key>displayType</key>
			<string>1</string>
			<key>frameName</key>
			<string>item_boom.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>time_name</string>
			<key>description</key>
			<string>time_description</string>
			<key>displayType</key>
			<string>1</string>
			<key>frameName</key>
			<string>item_time.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>pump_name</string>
			<key>description</key>
			<string>pump_descritpion</string>
			<key>unlock</key>
			<string>pump_unlock_description</string>
			<key>displayType</key>
			<string>1</string>
			<key>frameName</key>
			<string>item_pump.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>multi_name</string>
			<key>description</key>
			<string>multi_description</string>
			<key>unlock</key>
			<string>multi_unlock_description</string>
			<key>displayType</key>
			<string>2</string>
			<key>bmfValue</key>
			<string>×2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>reverse_name</string>
			<key>description</key>
			<string>reverse_description</string>
			<key>unlock</key>
			<string>reverse_unlock_description</string>
			<key>displayType</key>
			<string>1</string>
			<key>frameName</key>
			<string>item_reverse.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>giant_name</string>
			<key>description</key>
			<string>giant_description</string>
			<key>unlock</key>
			<string>giant_unlock_description</string>
			<key>displayType</key>
			<string>2</string>
			<key>bmfValue</key>
			<string>0/3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>frozen_name</string>
			<key>description</key>
			<string>frozen_description</string>
			<key>unlock</key>
			<string>frozen_unlock_description</string>
			<key>displayType</key>
			<string>1</string>
			<key>frameName</key>
			<string>item_frozen.png</string>
		</dict>
	</array>
</dict>
</plist>
