<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_item_options.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,106},{252,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{252,102}}</string>
                <key>sourceSize</key>
                <string>{256,102}</string>
            </dict>
            <key>menu_item_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{252,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{252,102}}</string>
                <key>sourceSize</key>
                <string>{256,102}</string>
            </dict>
            <key>menu_item_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{256,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,102}}</string>
                <key>sourceSize</key>
                <string>{256,102}</string>
            </dict>
            <key>menu_item_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,106},{256,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,102}}</string>
                <key>sourceSize</key>
                <string>{256,102}</string>
            </dict>
            <key>menu_item_return_main_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{256,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,102}}</string>
                <key>sourceSize</key>
                <string>{256,102}</string>
            </dict>
            <key>menu_item_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,164}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{190,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>menu_item_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,106},{256,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,102}}</string>
                <key>sourceSize</key>
                <string>{256,102}</string>
            </dict>
            <key>menu_item_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,106},{254,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,102}}</string>
                <key>sourceSize</key>
                <string>{256,102}</string>
            </dict>
            <key>menu_item_userinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{256,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,102}}</string>
                <key>sourceSize</key>
                <string>{256,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuItems.png</string>
            <key>size</key>
            <string>{1196,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a813a0fb39292e75edca6c0ed458846b:56f750b5298d9bde63301762ec124fab:945fbee15d200b50262fcad6ce83fdd8$</string>
            <key>textureFileName</key>
            <string>menuItems.png</string>
        </dict>
    </dict>
</plist>
