<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon_detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{154,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,56}}</string>
                <key>sourceSize</key>
                <string>{154,56}</string>
            </dict>
            <key>result_medal_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{139,166}}</string>
                <key>sourceSize</key>
                <string>{149,166}</string>
            </dict>
            <key>result_medal_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>result_mission_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,170},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{56,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>result_mission_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,158},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{70,56}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resultDialog.png</string>
            <key>size</key>
            <string>{201,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcc4f8c4c31afa01665eaa0cb49ab2bb:b3ff3298a0670ee4733ffd52825b87ac:ddac24c34bfa8f577f55fc4c7349a91f$</string>
            <key>textureFileName</key>
            <string>resultDialog.png</string>
        </dict>
    </dict>
</plist>
