<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{233,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,236}}</string>
                <key>sourceSize</key>
                <string>{233,236}</string>
            </dict>
            <key>shop_chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,240},{210,210}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,210}}</string>
                <key>sourceSize</key>
                <string>{212,214}</string>
            </dict>
            <key>shop_item_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{209,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,188}}</string>
                <key>sourceSize</key>
                <string>{209,188}</string>
            </dict>
            <key>shop_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,449}}</string>
                <key>sourceSize</key>
                <string>{380,449}</string>
            </dict>
            <key>shop_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,240},{195,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,200}}</string>
                <key>sourceSize</key>
                <string>{195,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopDialog.png</string>
            <key>size</key>
            <string>{809,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c0755e2a587e470aa0db7dd2745b88d:a0e1cb2288c7bf35c1f981d10a935e5c:fece5263f63bca03c0be95489cf064ad$</string>
            <key>textureFileName</key>
            <string>shopDialog.png</string>
        </dict>
    </dict>
</plist>
