<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>item_boom.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,473},{51,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,0},{51,77}}</string>
			<key>sourceSize</key>
			<string>{77,77}</string>
		</dict>
		<key>item_btn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,124},{120,120}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{120,120}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>item_btn_selected.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{120,120}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{120,120}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>item_darkcloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,552},{77,51}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,17},{77,51}}</string>
			<key>sourceSize</key>
			<string>{77,77}</string>
		</dict>
		<key>item_frozen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,328},{81,82}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{81,82}}</string>
			<key>sourceSize</key>
			<string>{89,82}</string>
		</dict>
		<key>item_pump.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,538},{55,73}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,2},{55,73}}</string>
			<key>sourceSize</key>
			<string>{77,77}</string>
		</dict>
		<key>item_reverse.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,246},{85,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{85,80}}</string>
			<key>sourceSize</key>
			<string>{89,82}</string>
		</dict>
		<key>item_reverse_ex.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,411},{89,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,11},{89,60}}</string>
			<key>sourceSize</key>
			<string>{89,82}</string>
		</dict>
		<key>item_time.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,473},{63,65}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,6},{63,65}}</string>
			<key>sourceSize</key>
			<string>{77,77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>items.png</string>
		<key>size</key>
		<string>{124,631}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ce4273ca8305fbc5129d9f081d30c9bf:f5fc8ca7b09851ae70eb6d7d2173c14b:9b2c40378ce3448cae3ca053079d3001$</string>
		<key>textureFileName</key>
		<string>items.png</string>
	</dict>
</dict>
</plist>
